html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #F5E0DC;
    padding: 10px 20px 0px;
}
.header {
    width: 100%;
    height: 300px;
    overflow: hidden; 
    position: relative;
}
.img-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: #C2B2D6;
    min-height: 150px;
}

/*
Cor	HEX	Uso principal
Lilás Claro	#D7C3F2	Nome da clínica, ícones, destaques
Branco	#FFFFFF	Fundo principal, espaços de respiro
Nude Rosado	#F5E0DC	Fundo suave, botões, slogans
Cinza Lavanda	#C2B2D6	Detalhes de texto secundário
Diretrizes de Uso:

Lilás é a cor de destaque para a marca.

Branco deve predominar para transmitir leveza.

Nude Rosado usado em elementos de fundo ou apoio visual.

Cinza Lavanda para detalhes, informações complementares.
*/